/* CSS Document */

.menu {
	font-size: 10px;
}
.espacio {
	font-size: 5px;
}

.barratitulo {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: right;
	font-family: Arial, Helvetica, Verdana;
	padding: 2px;
	letter-spacing: 4px;
}
.fechatitular {
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	color: #FFFFFF;
	background: #006699 url(graficos/fondosecciones.jpg);
}
.fecha {
	font-size: 11px;
	font-weight: normal;
	color: #555555;
	font-style: italic;
}
.titprincipal {
	font-size: 16px;
	font-weight: bold;
}

.tit {
	font-size: 12px;
}
.titdcha {
	font-size: 10px;
	color: #0033AA;
}
.titdchab {
	font-size: 10px;
	color: #0033AA;
	font-weight: bold;
	text-decoration: underline;
}
.pretit {
	font-size: 8pt; 
	color: #5C5C5C;}
.pretitportada {
	font-size: 7pt;
	color: #5C5C5C;
	margin-left: 7px;
}
	
.pretitdcha {
	font-size: 7pt; 
	color: #4C4C4C;}
.firma { 
	font-size: 8pt; 
	font-style: italic; 
	font-weight: bold;
}
.firmadcha { 
	font-size: 7pt; 
	font-style: italic;
}
.ent {
	font-size: 8pt;
	color: #666666;
}

.menudcha {
	font-size: 10px;
	color: #003300;
	border: 1px solid #006633;
	padding: 2px;
}
.altopeq {
	height: 3px;
	font-size: 3pt; 
}
.secciondcha {
	font-size: 10px;
	color: #FFFFFF;
	background: url(../graficos/secciondcha.jpg);
	border: 1px solid #006699;
	font-weight: bold;
	text-align: center;
	margin: 1px;
	padding: 1px;
}
.tablamenu {
	border: 1px solid #006633;
}
.menusecciones {
	font-size: 10px;
	color: #FFFFFF;
	background: #006699 url(graficos/fondosecciones.jpg);
	border: 1px solid #006699;
	font-weight: bold;
	margin: 1px;
	padding: 1px;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
a {
    font-size: 9pt;
}
a:link {
	text-decoration: none;
	color: #0055EE;
}
a:visited {
	text-decoration: none;
	color: #0099CC;;
}
a:hover {
	text-decoration: underline;
	color: #008811;
}

.seccionescol {
	font-size: 10px;
	color: #000099;
	font-weight: bold;
}

.sangria {
	padding-left: 10px;
}
.fechadcha {

	font-size: 10px;
	font-weight: normal;
	color: #555555;
	font-style: italic;
}
.noticia {
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	font-size: 12;
}
.fuente {
	font-size: 8pt; 
	color: #006600;
}
.fechaportada {
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	color: #FFFFFF;
	background: #006699 url(../graficos/fondosecciones.jpg);
}
.cartas {
	font-size: 11px;
	color: #333333;
	border: 1px solid #006633;
	padding: 2px;
}.firmaportada {

	font-size: 9px; 
	font-style: italic;
}
.resalte { font-size: 7pt; font-weight: bold}
.textoComentario{font-size: 9px; color: #999999}
